* {
    box-sizing: border-box;
}

/* group selectors (background and margin only) */

body,
ul,
h1,
h2,
h3,
p,
blockquote {
    margin: 0;
}

header,
.one,
footer {
    background-color: skyblue;
}

/* flex containers */

body, 
header,
.header-right,
.one,
.one-left,
.two,
.four,
.four-left {
    display: flex;
}

/* more group selectors */

header,
section,
footer {
    padding-right: 100px;
    padding-left: 100px;
    font-family: 'Hero New', sans-serif;                                        
}

header, 
footer {
    height: 50px;
}

.one,
.three,
.four {
    padding-top: 40px;
}

.one-right-img,
.two-img {
    border:rgb(255, 173, 20) 3px solid;
    border-radius: 12px;
}

/*standard elements */

h1 {
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 15px;
}

h2 {
    vertical-align: middle;
    padding: 10px;
}

p {
    font-size: 15px;
    padding-bottom: 5px;
}

.above-button {
    padding-bottom: 50px;
}

button {
    background-color: rgb(255, 173, 20);
    border: none;
    color: white;
    padding: 0px 20px;
    width: 150px;
    border-radius: 12px;
    height: 40px;
}

figcaption {
    font-size: 12px;
}

blockquote {
    margin-top: 30px;
    font-style: italic;
}

cite {
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

blockquote,
cite {
    align-self: self-end;
    width: 500px;
    font-size: 22px;
}

/* --page structure--*/

/* body */

body {
    flex-direction: column;
}

/* header */

header {
    justify-content: space-between;
    flex: 1 13 ;
    padding-top: 5px;
}

.header-right {
    list-style-type: none;
    gap: 20px;
    margin: 0px 20px;
    align-items: center;
}

.icon {
    display: flex;
}

a {
    text-decoration: none;
    color:black;
}

/* main */

main {
    flex: 13 1 auto;
}

section {
    padding-bottom: 40px;
}

.one {
    justify-content: space-around;
}

.one-left {
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.one-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.one-right-img {
    flex: 1 1 300px;
    max-height: 100%;
    max-width: 100%;
    min-width: 250px;
}

.two {
    flex-direction: column;
    align-items: center;
}

.two-images {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.three {
    background-color: rgb(255, 173, 20);
    color: white;
    display: flex;
    flex-direction: column;
    padding-right:350px;
    flex-wrap: wrap;
}

.four{
    background-color: rgb(255, 223, 163);
    justify-content: space-around;
    margin: 50px 150px;
    flex-wrap: wrap;
}

.four-left {
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 600px;
}

/* footer */

footer {
    display: flex;
    flex: 1 13 auto;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}